In [1]:
import pandas as pd
import csv

In [2]:
df= pd.read_csv("Unit-Profile-sept2015.csv",index_col = None)

In [4]:
df.head()

,unit_id,isp,TECHNOLOGY,STATE,CENSUS,timezone_offset,timezone_offset_dst,Download,Upload
0,382,AT&T,UVERSE,SC,SOUTH,-5,-4,12,1
1,405,AT&T,UVERSE,IL,MIDWEST,-6,-5,6,1
2,450,AT&T,UVERSE,OH,MIDWEST,-5,-4,6,1
3,463,AT&T,UVERSE,IL,MIDWEST,-6,-5,18,1.5
4,464,AT&T,DSL,OH,MIDWEST,-5,-4,3,0.384

In [5]:
df_tech_state=df[['TECHNOLOGY', 'STATE']]

In [6]:
df_tech_state.to_csv('df_tech_state.csv', encoding='utf-8', index=False)